<%= render 'form' %>
<div class="row">
	<table class="table">

		<thead>
			<th>recipient</th>
			<th>opened</th>
			<th class="text-center">clicks link one</th>
			<th class="text-center">clicks link two</th>
			<th class="text-center">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</th>
		</thead>

		<tbody>
		<% @emails.each do |email| %>
			<tr>
				<td><%= email.recipient %></td>
				<td><%= pluralize(email.opened, 'time') %></td>
				<% email.links.each do |link| %>
					<td class="text-center"><%= link.clicks %></td>
				<% end %>
				<td class="text-center">
					<%= link_to 'delete', email, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>